header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.header-logo > h1 {
    font-size: 40px;
}

.container-language {
    display: flex;
    gap: 24px;
}